<v-card class="pa-4" max-width="400">
  <h2 class="text-center">Login</h2>
  <v-form ref="form" v-model="valid">
    <v-text-field
      label="Email"
      v-model="email"
      :rules="[rules.required, rules.email]"
      required
    />
    <v-text-field
      label="Contraseña"
      v-model="password"
      :rules="[rules.required]"
      type="password"
      required
    />
    <v-btn 
      color="primary" 
      block 
      @click="loginSuccess()" 
      :disabled="!valid">
      Entrar
    </v-btn>
    <v-btn 
      text 
      block 
      @click="$emit('back')">
      Volver
    </v-btn>
  </v-form>
</v-card>


