<v-card>
  <div :class="$style.close">
    <v-btn text icon @click="$emit('close')">
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </div>
  <v-card-title class="text-center">
    <svg-icon icon="glance-logo" :class="$style.glanceIcon" />
        (no se si hay que quitar este logo)

  </v-card-title>
  <v-card-text>
    <p class="body-1">
      <a rel="noopener noreferrer" target="_blank" href="https://kitware.github.io/glance/">Glance</a>
      Es un programa de codigo abierto desarrollado por 
      <a rel="noopener noreferrer" target="_blank" href="https://www.kitware.com/">Kitware</a>
      para la visualizacion de imagenes y volumenes 3d con vtk.js. Desde datos medicos hasta estructuras geometricas,
      todo puede representarse con esta libreria.

      Se ha usado la app de kitware glance como base del proyecto tal y como se describe en su pagina oficial. 
      De esta manera conseguimos implementar 
      <a rel="noopener noreferrer" target="_blank" href="http://insightsoftwareconsortium.github.io/itk-js/">ITK.js</a>
      (que es la libreria predecesora de
      <a rel="noopener noreferrer" target="_blank" href="https://kitware.github.io/vtk-js/">VTK.js</a>.
      ) para la lectura de imagenes medicas.
    </p>

    <ul class="ml-5">
      <li class="body-1">
        <span>Aqui esta el codigo por si quieres descargar la app:</span>
        <a rel="noopener noreferrer" target="_blank" href="https://github.com/Kitware/glance">Code is on Github(cambiar el enlace)</a>.
      </li>
    </ul>

    <v-layout row wrap class="text-center" align-end>
      <v-flex xs4>

        (No se si debo quitar estos logos)
        <a rel="noopener noreferrer" target="_blank" href="https://www.kitware.com">
          <svg-icon icon="kitware" :class="$style.aboutIcon" />
        </a>
      </v-flex>
      <v-flex xs4>
        <div>&nbsp;</div>
        <a rel="noopener noreferrer" target="_blank" href="https://kitware.github.io/vtk-js/">
          <svg-icon icon="vtkjs" :class="$style.aboutIcon" />
        </a>
      </v-flex>
      <v-flex xs4>
        <div>&nbsp;</div>
        <a rel="noopener noreferrer" target="_blank" href="http://insightsoftwareconsortium.github.io/itk-wasm/">
          <svg-icon icon="itkjs" :class="$style.aboutIcon" />
        </a>
      </v-flex>
    </v-layout>

  </v-card-text>
</v-card>
