<v-dialog v-model="dialog" width="90%" max-width="900px">
  <v-card>
    <v-card-title class="title">Errores de la app!</v-card-title>
    <v-card-text class="body-2">
      <p>
          Motivos:
      </p>
      <ul class="pl-10">
        <li v-if="issues.webglVersion">
          Versión de WebGL {{ issues.webglVersion }}. Para un mejor rendimiento,
          utiliza un ordenador y/o navegador con al menos WebGL 2.
        </li>
        <li v-if="issues.integratedGPU">
          Usando GPU "{{ issues.integratedGPU }}". Una GPU dedicada ofrecería
          un mejor rendimiento.
          <a rel="noopener noreferrer" target="_blank" href="https://wevideo.zendesk.com/hc/en-us/articles/225259448-How-to-enable-WebGL">
            Más información sobre cómo habilitar GPUs dedicadas en los navegadores.
          </a>
        </li>
      </ul>
    </v-card-text>
    <v-card-actions class="d-flex justify-space-between align-center pa-5">
      <v-checkbox
        label="No mostrar de nuevo"
        class="mt-0 pt-0"
        hide-details
        :value="suppressBrowserWarning"
        @input="setSuppressBrowserWarning"
      />
      <v-btn
        color="primary"
        v-on:click="dialog = false"
      >
        Aceptar
      </v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
